<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<!-- Compressed CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" crossorigin="anonymous"
	/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css" crossorigin="anonymous"
	/>

	<link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
	<title>MYce Cream</title>
</head>

<body>
	<div class="grid-x align-justify">
		<div data-sticky-container class="show-for-medium medium-3 cell">
			<div class="sticky" data-sticky data-margin-top="0">
				<div class=" grid-x align-justify" id="sidebar">
					<div class="medium-12 cell" id="sidebarNav">
						<h1>MYce Cream</h1>
						<form action="/" method="GET">
							<button type="submit" class="button navButton">Personal Stock <span class="fi-home sidebarNavIcon"></span></button>
						</form>
						<form action="/need_to_buy" method="GET">
							<button type="submit" class="button navButton">Need to Buy <span class="fi-shopping-cart sidebarNavIcon"></span></button>
						</form>
						<form action="/tasted" method="GET">
							<button type="submit" class="button navButton">Tasted <span class="fi-checkbox sidebarNavIcon"></span></button>
						</form>
					</div>
					<div class="medium-12 cell">
						<h2>Add Flavor</h2>
						<form action="/" method="POST">
							<div class="grid-x grid-padding-x grid-padding-y align-right" id="addFlavorForm">
								<div class="medium-12 cell">
									<input type="text" class="form-control small-12" name="name" id="newflavorInput" placeholder="Flavor name...">
								</div>
								<div class="medium-12 cell">
									<input type="text" class="form-control small-12 medium-5 cell" name="retailer" id="newFlavorRetailer" placeholder="Available at...">
								</div>
								<div class="medium-12 large-4 cell">
									<button type="submit" class="button">ADD</button>
								</div>
							</div>
						</form>
					</div>
					<div class="medium-12 cell">
						<img src="/assets/images/ice_cream.png" alt="" id="iceCreamIcon">
					</div>
				</div>
			</div>
		</div>
		<div class="small-12 medium-9 cell" id="mainContent">
			<div data-sticky-container id="mainContentTitle">
				<div class="sticky" data-sticky data-margin-top="0">
					<h1>{{title}}</h1>
				</div>
			</div>

			<div class="grid-x align-justify">
				<div class="small-12 cell">
					{{{ body }}}
				</div>
			</div>
		</div>
	</div>
	<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
		<div class=" grid-x align-justify" id="sidebar">
			<div class="medium-12 cell" id="sidebarNav">
				<h1>MYce Cream</h1>
				<form action="/" method="GET">
					<button type="submit" class="button navButton">Personal Stock <span class="fi-home sidebarNavIcon"></span></button>
				</form>
				<form action="/need_to_buy" method="GET">
					<button type="submit" class="button navButton">Need to Buy <span class="fi-shopping-cart sidebarNavIcon"></span></button>
				</form>
				<form action="/tasted" method="GET">
					<button type="submit" class="button navButton">Tasted <span class="fi-checkbox sidebarNavIcon"></span></button>
				</form>
			</div>
			<div class="medium-12 cell">
				<h2>Add Flavor</h2>
				<form action="/" method="POST">
					<div class="grid-x grid-padding-x grid-padding-y align-right" id="addFlavorForm">
						<div class="medium-12 cell">
							<input type="text" class="form-control small-12" name="name" id="newflavorInput" placeholder="Flavor name...">
						</div>
						<div class="medium-12 cell">
							<input type="text" class="form-control small-12 medium-5 cell" name="retailer" id="newFlavorRetailer" placeholder="Available at...">
						</div>
						<div class="medium-4 cell">
							<button type="submit" class="button">ADD</button>
						</div>
					</div>
				</form>
			</div>
			<div class="medium-12 cell">
				<img src="/assets/images/ice_cream.png" alt="" id="iceCreamIcon">
			</div>
		</div>
	</div>
	<div class="hide-for-medium">
		<button class="button show-for-small" id="mobileNavMenuBtn" data-toggle="offCanvas">
		<img src="/assets/images/ice_cream.png" alt="">
	</button>
	</div>


	{{!-- Import jQuery and Foundation scripts --}}
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	 crossorigin="anonymous"></script>
	<!-- Compressed JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js" crossorigin="anonymous"></script>
	<script>
		$(document).foundation();
	</script>
</body>

</html>