<div class="small-12 cell">
	{{#each flavors}} {{#unless this.tasted}} {{#if this.personal_stock}}
	<div class="grid-x grid-padding-x">
		<div class="small-10 medium-6 cell">
			{{this.flavor_name}}
		</div>
		<div class="small-10 medium-3 cell">
			{{this.retailer_name}}
		</div>
		<div class="small-12 medium-3 cell">
			<form action="/{{this.id}}?_method=PUT" method="POST">
				<input type="hidden" name="tasted" value="true">
				<button type="submit" class="button">Tasted!</button>
			</form>
		</div>
	</div>
	{{/if}} {{/unless}} {{/each}}
</div>