<div data-sticky-container>
	<div class="sticky" data-sticky data-margin-top="0">
		<div class="small-12 show-for-medium rowHeader">
			<div class="grid-x align-justify">
				<div class="medium-5 cell">
					<h4>Flavor</h4>
				</div>
				<div class="medium-2 cell">
					<h4>Retailer</h4>
				</div>
				<div class="medium-4 cell">
					<h4>Date</h4>
				</div>
				<div class="medium-1 cell">
					<h4>Rating</h4>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="small-12 cell">
	{{#each flavors}} {{#if this.tasted}}
	<div class="small-12 cell flavorRow" name="">
		<div class="grid-x align-justify">
			<div class="small-12 medium-5 cell">
				{{this.flavor_name}}
			</div>
			<div class="small-12 medium-2 cell">
				{{this.retailer_name}}
			</div>
			<div class="small-12 medium-4 cell">
				{{moment this.date "MMM, Do, YYYY"}}
			</div>
			<div class="small-12 medium-1 cell">
				{{#if this.rating}}<span class="badge">{{this.rating}}</span>{{/if}}
			</div>
		</div>
	</div>
	{{/if}} {{/each}}
</div>