/*
FONTS

font-family: 'Ewert', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Leckerli One', cursive;
*/

@import url('https://fonts.googleapis.com/css?family=Ewert|Lato|Leckerli+One');

body {
	color: #3F3F37;
	text-shadow: 0px 0px 3px white;
	font-family: 'Lato', sans-serif;
}

#sidebar {
	background-color: #D6D6B1;
	border-right: 2px solid white;
	/* box-shadow: 0px 8px 8px #3F3F37; */
	height: 100vh;
	display: block;
}

#sidebarNav {
	width: 100%;
	text-align: left;
	margin: 0px auto;
	list-style: none;
}

h1 {
	margin: 0px;
	background-color: #3F3F37;
	font-family: 'Ewert', cursive;
	font-size: 2.5rem;
	color: white;
	text-shadow: 0px 0px 3px black;
	text-align: center;
}

h2 {
	font-family: 'Leckerli One', cursive;
	color: white;
	text-shadow: 0px 0px 3px #3F3F37;
}

#sidebar h2 {
	background-color: #FB3640;
	border-top: 4px solid white;
	border-bottom: 4px solid white;
	text-align: center;
}

#mainContent {
	min-height: 120vh;
	box-shadow: 2px 7px 8px #3F3F37 inset;
}

#mainContentTitle {
	margin-bottom: 7px;
}

#sidebarNav .button {
	width: 100%;
	text-align: left;
	margin: 0px;
	background-color: transparent;
	font-size: 1.2rem;
}

#sidebarNav .button:hover {
	/* background-color: #FB3640; */
	border-right: 5px solid #FB3640;
	border-left: 5px solid #FB3640;
}

.sidebarNavIcon {
	float: right;
}

.flavorRow:hover {
	border-bottom: 2px solid #FB3640;
	cursor: pointer;
}

.button:not(.navButton) {
	width: 100%;
	box-shadow: 2px 3px 5px #3F3F37;
}

.badge, .button {
	background-color: #FB3640;
	color: white;
	font-weight: bold;
	text-shadow: 0px 0px 3px black;
}

.button:hover {
	background-color: #0F8B8D;
	box-sizing: border-box;
}

#newflavorInput, #newFlavorRetailer {
	border-radius: 5px;
	box-shadow: 0px 0px 3px #3F3F37 inset;
}

/* scroll bars */

::-webkit-scrollbar {
	 /* width: 12px; */
	 display: none;
}

::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: white;
	 border-radius: 10px; */
	 display: none;
}

::-webkit-scrollbar-thumb {
    /* border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	 box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
	 display: none;
}